*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


.features{
  font-family: 'Italiana', serif; 
  font-size:1.6rem;
  display:block;
  text-align: center;
  font-weight: 600;
  letter-spacing: .2rem;
  backdrop-filter: blur(1rem);
  transition: 0.1s;
  color: rgb(7, 164, 7);
  
  }
.features:hover{
  letter-spacing: .2rem;
  filter: drop-shadow(0rem 2rem .2rem black);
}
