*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.container{
  text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
  height: 16rem;
  transition: .3s;
  flex-wrap: wrap;
border: .1rem solid;
width: 25rem;
border-radius: .7rem;
margin-left: 1rem;
margin-right: 1rem;
backdrop-filter: blur(10px);
z-index: 6;
}
.image{
  width: 40%;
  height: 50%;
}
.text-price{
  width: 70%;
  display: flex;
  flex-direction: column;
}
.text{
  font-family: 'Italiana', serif; 
  font-size: 1.5rem;
  font-weight: 600;
}
.price{
  font-family: 'Italiana', serif; 
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(81, 200, 34);
}
.btnbtn{
display: flex;
width:100%;
justify-content: space-between;
}
.cart{
  font-family: 'Italiana', serif; 
  background-color: rgb(7, 164, 7);
  width: 7rem;
 height: 2rem;
 border-radius: 1rem;
 border: none;
 margin-left: 1rem;
 margin-right: 1rem;
}
.containerHover{
  text-align: center;
  transition: .2s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 height: 16rem;
 width: 25rem;

 margin-left: 1rem;
 margin-right: 1rem;
 flex-wrap: wrap;
 transform: translateY(-8%);
border: .1rem solid;
border-radius: .7rem;
}
