
*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.product-main-container{
  display: flex;
align-items: center;
 width: 100%;
margin-top: 3%;
 height:25rem;
flex-direction:column; 
 background-image: url(./images/lensabl-0GfPlommtxM-unsplash.jpg);
 background-position: center;
 background-size: cover;
 backdrop-filter: blur(1rem);
 z-index: 4;
 
 }
 .product-main-container::after{
  content: '';
  height: 25rem;
  width: 100%;
  position: absolute;
  top: 0%;
  z-index: 3;
  background-image: linear-gradient(to bottom,white,rgba(255, 255, 255, 0.573),rgba(205, 205, 205, 0.63), rgba(27, 27, 27, 0.672) 10%, rgba(255, 255, 255, 0.166)80%,white ,white);
  
 }
 .intro{
  padding-top: 1rem;
  margin-top: 2rem;
  z-index: 5;
  color: white;
 font-size: 3rem;
font-family: 'Italiana', serif;
font-weight: 600;
letter-spacing: .1rem;
width: 100%;
text-align: center;
filter: brightness(110%); 
}

 
 .product-holder{


z-index: 6;
display: flex;
width: 90%;

align-items: center;
overflow-x: scroll;

margin-right: 2rem;
height: 19rem;
}
@media (max-width:550px) {
  
  .intro{
    
    font-size: 3rem;
    width: 100%;
  }
}