_*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.sign-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  height: 5rem;
  border: .2rem solid rgb(7,164,7);
  font-family: 'Italiana', serif;
  z-index: 4;

}
.sign-in{
  border-radius: 3rem;
  border: none;
  width: 7rem;
  height: 3rem;
  color: white;
  border: .2rem solid  rgb(7,164,7);

  background-color:rgb(103, 182, 103) ;
  

}

.sign-text{
  padding-left: 1rem;
  
}
